body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-track {
    background: #303030;
}

body::-webkit-scrollbar-thumb {
    background-color: #222222;
    border-radius: 10px;
    border: 2px solid #303030;
}

*::-webkit-scrollbar-thumb:hover {
    background: #555;
}

main {
    margin-top: 3rem;
    min-height: 80vh;
    font-family: 'Lato', sans-serif;
}

header,
footer {
    font-family: 'Lato', sans-serif;
}

.btn-link {
    font-weight: bold;
    /* color: #00bc8c; */
}

a:hover,
.btn-link:hover {
    text-decoration: none;
    /* color: #20c997; */
}

.page-link {
    background: #f39c12 !important;
}

h3 {
    padding: 1rem 0;
}

.rating span {
    margin: 0.1rem;
}

.course-card {
    height: 22rem;
}

/* carousel */
.carousel {
    margin-top: 1rem;
    overflow: hidden;
}
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
    display: flex;
    overflow: hidden;
}

.carousel-caption {
    position: absolute;
    top: 0;
    padding-top: 0.2rem;
}

.carousel img {
    max-height: 18rem;
    width: auto;
    padding: 1rem;
    margin: 3rem 0 1.5rem;
    overflow: hidden;
    object-fit: cover;
}

.carousel a {
    margin: 0 auto;
}

/* scroll to top */
.scroll-to-top {
    position: fixed;
    bottom: 12px;
    right: 15px;
    z-index: 1;
}

/* media queries */
@media only screen and (max-width: 575px) {
    .searchbox {
        margin-bottom: 0.6rem !important;
    }
    .searchBtn {
        display: block;
        width: 100%;
    }
}

@media only screen and (min-width: 767px) {
    .carousel-caption {
        padding-top: 0.5rem;
    }
    .carousel img {
        margin: 2rem 0 1.5rem;
    }
}
@media only screen and (max-width: 767px) {
    .course-card-img {
        height: 12rem;
    }
}
