body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-track {
    background: #303030;
}

body::-webkit-scrollbar-thumb {
    background-color: #222222;
    border-radius: 10px;
    border: 2px solid #303030;
}

*::-webkit-scrollbar-thumb:hover {
    background: #555;
}

main {
    margin-top: 3rem;
    min-height: 80vh;
}

a:hover {
    text-decoration: none;
}

h3 {
    padding: 1rem 0;
}

.rating span {
    margin: 0.1rem;
}

.card {
    height: 22rem;
}

.scroll-to-top {
    position: fixed;
    bottom: 12px;
    right: 15px;
    z-index: 1;
}
